<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <section id="show-page">
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Flight Number: </div>
        <div><%= flight.flightNo %></div>
        <div>Departs: </div>
        <div><%= flight.departs %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>Destination: </div>
        <form id="add-destination-form" action="/flights/<%= flight._id %>" method="POST">
            <label>Departure:</label>
            <select name="airport">
              <option value="AUS">AUS</option>
              <option value="DFW">DFW</option>
              <option value="DEN">DEN</option>
              <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
            </select>
            <label>Destination Time:
              <input type="datetime-local" name="arrival">
            </label><br>
            <input type="submit" value="Add Destination">
          </form>
      </section>
      <% if (flight.destinations) { %>
        <table>
          <thead>
            <tr>
              <th>Destinations</th>
              <th>Date & Time</th>
            </tr>
          </thead>
          <tbody>
            <% let total = 0 %>
            <% flight.destinations.forEach(function(destination) { %>
              <tr>
                <td><%= destination.airport %></td>
                <td><%= destination.arrival %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Destinations Yet</h5>
      <% } %>
      <label>Destination Time:
        <input type="datetime-local" name="arrival">
      </label><br>
      <form action="/flights/<%=flight._id%>/tickets/new" method="GET">
        <input type="submit" value="Add ticket">
      </form>
      <% if (tickets.length) { %>
        <table>
          <thead>
            <tr>
              <th>Ticket</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% tickets.forEach(function(ticket) { %>
            <tr>
              <td><%= ticket.seat %></td>
              <td><%= ticket.price %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <h5>No Tickets Sold Yet</h5>
        <% } %>
</body>
</html>